<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">SALTAR</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-6 offset-xl-3>
            <img src="assets/img/ica-slidebox-img-3.png" class="slide-image" />
            <h2 class="slide-title">¡Atrévete a volar!</h2>
            <br>
            <br>
            <button ion-button icon-end outline color="secondary" (click)="startApp()">¿COMENZAMOS?
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
