<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doSignup()">
    <ion-list>

      <ion-item>
        <ion-label floating>Nombres y apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <br>
      <ion-item>
        <ion-label>Universidad</ion-label>
        <ion-select [(ngModel)]="account.university" okText="Listo" cancelText="Cancelar" name="universidad">
          <ion-option *ngFor="let u of universidades" [value]="u">{{u}}</ion-option>
      </ion-select>
      </ion-item>

      <br>
      <ion-item>
        <ion-label>¿En qué área te desempeñas?</ion-label>
        <ion-select [(ngModel)]="account.area" okText="Listo" cancelText="Cancelar" name="area">
          <ion-option *ngFor="let a of areas" [value]="a">{{a}}</ion-option>
      </ion-select>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block>REGISTRARME</button>
      </div>

    </ion-list>
  </form>
</ion-content>
